.resume{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    height: 1080px;
}

.leftColumn{
    display:grid;
    grid-template-rows: 33% 66%;
    border: 5px solid red;
}

.topLeft{
    border: 5px solid red;
    background-color: lightblue;
}

.bottomLeft{
    display: grid;
    background-color: #1c1c1c;
    font-family: 'Times New Roman', Times, serif;
}
.topRight{
    display:grid;
    border: 5px solid red;
}

.bottomRight{
    display: grid;
}
.socialLinks{
    background-color: #1c1c1c;
    color: white;
}

.education{
    background-color:#1c1c1c;
    color: white;
}

.contactInfo{
    background-color: #1c1c1c;
    color: white;
}


.right-column{
    display: grid;
    grid-template-rows: 50% 50%;
    border:5px solid red;
}

.profileInfo{
}